{% extends "page.html" %}

{% block content %}

<div class="d-flex flex-column m-5 contentTop">
  <div class="container">
    <div class="info">
      <div class="row w-100">
        <div class="col">
          <div class="photo">
            <img src="{{ pet['photo'] }}" class="petPhotoBig">
          </div>

        </div>
        <div class="col">
          <h2>{{ pet['reportType'] }} {{ pet['petType'] }}</h2>
          <p class="infoMargin">
           missed {{ type1 }}<span class="bold"> {{ pet['date'] }}</span><br>
           missed {{ type2 }} in<span class="bold"> {{ pet['postcodeArea'] }} {{ pet['postcodeIncode'] }}</span>
          </p>
          <p class="infoMargin">
            Name: {{ petName }}<br>
            Sex: {{ sex }}<br>
            Age: {{ age }}<br>
            Colour:
            {% for colour in colours %}
              {{ colour }}
            {% endfor %}
          </p>
          <p class="infoMargin">
            <span class="bold">Description:</span><br>
            {{ description }}
          </p>
        </div>
      </div>
    </div>

    {% block comments %}

    {% endblock %}

  </div>
</div>

{% endblock %}
