{% extends "page.html" %}

{% block content %}

<div class="content">
    <div class="text-center">
        <h1>Did you find a pet?</h1>
        <p>Fill in this form to report a found pet on our website. <br>
            This way we can help to find its owner as quickly as possible.</p>
        <form action="/pet-added" onsubmit="return checkData(this)" method="post" class="report">
		<input type="hidden" name="reportType" value="found">
            <h3 id="petType">Choose the type of the pet:</h3>
            <p class="checkbox-group required">
                <input type="radio" name="petType" value="dog" class="petIcon" id="foundDogTrigger">
                <label for="foundDogTrigger" id="foundDogLabel" class="petIcon"><i class="fas fa-dog"></i></label>
                <input type="radio" name="petType" value="cat" class="petIcon" id="foundCatTrigger">
                <label for="foundCatTrigger" id="foundCatLabel" class="petIcon"><i class="fas fa-cat"></i></label>
                <input type="radio" name="petType" value="bird" class="petIcon" id="foundBirdTrigger">
                <label for="foundBirdTrigger" id="foundBirdLabel" class="petIcon"><i class="fas fa-dove"></i></label>
                <input type="radio" name="petType" value="rabbit" class="petIcon" id="foundRabbitTrigger">
                <label for="foundRabbitTrigger" id="foundRabbitLabel" class="petIcon">
                    <svg width="3.2rem" height="3.2rem" viewBox="0 0 492 382" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                                        <g transform="matrix(1,0,0,1,-124.276,-77.8104)">
                                            <g>
                                                <g transform="matrix(1,0,0,1,24.6553,-14.4778)">
                                                    <path d="M521.92,371.84C528.639,367.359 557.201,361.762 557.201,361.762C600.881,343.84 589.681,287.84 589.681,287.84C566.161,204.961 484.401,211.121 484.401,211.121C480.479,163.519 435.682,107.521 402.081,96.321C368.479,85.122 361.761,100.802 361.761,100.802C330.96,142.802 427.281,230.722 427.281,230.722M511.279,277.199C509.041,274.961 507.92,272.16 507.92,269.359C507.92,266.558 509.041,263.758 511.279,261.519C515.201,257.597 523.041,257.039 526.959,261.519C529.197,263.758 530.318,266.558 530.318,269.359C530.318,272.16 529.197,274.961 526.959,277.199C524.721,279.437 521.92,280.558 519.119,280.558C516.318,280.558 513.518,279.441 511.279,277.199L511.279,277.199Z" style="fill-rule:nonzero;"/>
                                                </g>
                                                <g transform="matrix(1,0,0,1,16.8201,-6.6426)">
                                                    <path d="M427.281,230.722C375.203,209.441 300.161,215.601 300.161,215.601C180.881,225.12 145.041,311.921 145.041,311.921C118.721,310.241 118.721,334.319 118.721,334.319C118.721,334.319 108.643,337.119 107.522,347.198C106.401,357.276 119.842,367.917 119.842,367.917C117.041,387.519 147.842,389.198 147.842,389.198C147.842,389.198 154.561,398.717 160.721,424.479C167.44,450.799 208.323,465.358 208.323,465.358C208.323,465.358 548.803,468.158 554.403,464.236C560.005,460.315 557.204,454.158 557.204,454.158C556.083,435.678 505.684,427.279 505.684,427.279C510.164,423.358 506.805,400.4 506.805,400.4C507.363,394.236 515.766,376.877 521.926,371.838L521.92,371.84" style="fill-rule:nonzero;"/>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                </label>
                <br><input type="radio" name="petType" value="other" class="other"> Other, please specify:
                <input type="text" name="otherPetType">
            </p>
            <div class="container w-50">
                <div class="row w-100 text-center">
                    <div class="col">
                        <p class="formInputs">
                            Name of the pet <br><input type="text" name="petName" size="30"> <br>
                            Postcode<br><input type="text" name="postcode" size="30" required>
                        </p>
                    </div>
                    <div class="col rightCol">
                        <p class="formInputs">
                            Found on<br><input type="date" name="foundDate" required> <br>
                            Estimated Age<br><input type="text" name="petAge" size="30">
                        </p>
                    </div>
                </div>
                <div class="category">
                    <p id="petColour">
                        Colours<br>
                    <div>
                        <span class="colour"><input type="checkbox" name="black"> Black</span>
                        <span class="colour"><input type="checkbox" name="white"> White</span>
                        <span class="colour"><input type="checkbox" name="brown"> Brown</span>
                        <span class="colour"><input type="checkbox" name="lightBrown"> Light brown</span>
                        <span class="colour"><input type="checkbox" name="grey"> Grey</span>
                        <span class="colour"><input type="checkbox" name="beige"> Beige</span>
                        <span class="colour"><input type="checkbox" name="red"> Red</span>
                        <span class="colour"><input type="checkbox" name="other"> Other, please specify:
              <input type="text" name="othercolours"></span>
                    </div>
                    </p>
                </div>
                <div class="category">
                    <p>
                        Sex<br>
                    <div>
                        <span class="sex"><input type="radio" name="female"> Female</span>
                        <span><input type="radio" name="male"> Male</span>
                    </div>
                    </p>
                </div>
                <div class="category">
                    <p>
                        Description<br>
                        <textarea name="petDescription" rows="3" cols="65"></textarea>
                    </p>
                </div>
                <div class="category">
                    <p>
                        Please upload a picture of the found pet. This will make it easier for the owner to recognize his pet.
                        <br>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="uploadFileButton" value="Upload photo" required>
                    </div><br>
                    </p>
                </div>
                <div class="category">
                    <h3 class="text-center">Please add your personal details:</h3>
                    <div class="row w-100 text-center">
                        <div class="col">
                            <p class="formInputs">
                                Name <br><input type="text" name="ownersName" size="30" required> <br>
                                E-mail<br><input type="email" name="email" size="30" required>
                            </p>
                        </div>
                        <div class="col rightCol">
                            <p class="formInputs">
                                Surname<br><input type="text" name="ownersSurname" size="30" required>
                            </p>
                        </div>
                    </div>
                    <p class="marginComments">
                        Your personal details will not be published on our website. However, you agree that we
                        may forward this to possible owners of the animal so that they can contact you.
                    </p>
                </div>
                <input type="submit" class="btn submit" name="submitMissing" value="Report missing pet">
            </div>
        </form>
    </div>
</div>

{% endblock %}
